- 疫情前: 2018.1.1-2020.1.31
- 疫情时: 2020.2.1-2020.5.31 (大部分州恢复秩序)
- 疫情后: 2020.6.1-2021.5.31 (新变种德尔塔爆发以前)

In [1]:
import pandas as pd
import os
import geopandas as gpd
from shapely.geometry import Point

In [2]:
# Data of all states
folder_path = "./store-meta"

# List to hold all the state dfs
state_dataframes = []

# Loop through each file in the folder and append the df to the list
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df_state = pd.read_csv(file_path)
        state_dataframes.append(df_state)

# Combine all state dfs into one df
df_states = pd.concat(state_dataframes, ignore_index=True)
df_states

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
1,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
2,Alaska Tent & Tarp,"Alaska Tent & Tarp, 2424 E 5th Ave, Anchorage,...",0x56c897916ab9b4d9:0x334e07a949ef65fc,NaN,61.217106,-149.835767,"['fabric product manufacturer', 'aircraft supp...",4.4,18,NaN,"[['Monday', '8:30AM–5:30PM'], ['Tuesday', '8:3...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8:30AM,"['0x56c897db88baae1f:0x45abf88c4d62a916', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
3,Valley Dollar Plus & MORE!,"Valley Dollar Plus & MORE!, 481 W Parks Hwy, W...",0x56c8df0f2cbd1b53:0x53d601e0489e104,NaN,61.582763,-149.461998,"['dollar store', 'convenience store', 'grocery...",3.9,26,NaN,"[['Sunday', '11AM–5PM'], ['Monday', '10AM–7PM'...",{'From the business': ['Identifies as veteran-...,Closed ⋅ Opens 10AM Mon,"['0x56c8984829b7a761:0x1bccd85b80a4a2bc', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
4,Sourdough Transfer,"Sourdough Transfer, 600 Driveway St, Fairbanks...",0x51324539aa87c7f1:0x75196ecfedd91c3f,NaN,64.851457,-147.725530,"['mover', 'moving and storage service', 'movin...",4.5,28,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8AM Mon,"['0x5132453a013fb1f3:0x1c66f7bcc441028b', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341207,Walmart Supercenter,"Walmart Supercenter, 2200 17th St, Spirit Lake...",0x878cb43f39734807:0x7c20fd817a06680a,NaN,43.424338,-95.124478,"['department store', 'clothing store', 'craft ...",3.7,1152,$,"[['Saturday', '7AM–11PM'], ['Sunday', '7AM–11P...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x878cb45b61c0421b:0x63cece1607b24165', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341208,Foundation Building Materials,"Foundation Building Materials, 4401 112th St, ...",0x87ec27087c545371:0x3a5ffd1d59176776,NaN,41.641094,-93.768668,"['building materials market', 'construction ma...",4.5,18,NaN,"[['Friday', '7AM–4:30AM'], ['Saturday', 'Close...",{'Service options': ['In-store shopping']},NaN,"['0x87ec27087b63f6cb:0xab45fb285f06de23', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341209,Southern Iowa Oil,"Southern Iowa Oil, 2130 Court Ave, Chariton, I...",0x87e93bc31d68794f:0xe099b19a245c0f19,NaN,41.014260,-93.327017,"['gas station', 'convenience store']",3.6,15,NaN,NaN,NaN,NaN,"['0x87e93ac50fb43091:0x5daba4ef211a0a0', '0x87...",https://www.google.com/maps/place//data=!4m2!3...
341210,Flying J Travel Center,"Flying J Travel Center, 8200 Northwest Blvd, D...",0x87e3b56180231c17:0x7135d41221033ab8,NaN,41.602914,-90.624855,"['truck stop', 'convenience store', 'gas stati...",3.9,933,NaN,"[['Thursday', 'Open 24 hours'], ['Friday', 'Op...","{'Service options': ['In-store shopping', 'Del...",NaN,"['0x87e3b561451f0d83:0x2fbc08d29b5ead3b', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341211,Theisen's,"Theisen's, 403 E Oskaloosa St, Pella, IA 50219",0x87ef307cf7f381df:0x8786dc8056756e84,"Retailer stocking a wide range of home, farm &...",41.395948,-92.901603,"['department store', 'auto parts store', 'clot...",4.3,467,NaN,"[['Thursday', '8AM–8PM'], ['Friday', '8AM–8PM'...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x87ef3aac5bf421e9:0xb30642d12e24fb32', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [3]:
# Dropping duplicate rows
df_states = df_states.drop_duplicates()
df_states

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
2,Alaska Tent & Tarp,"Alaska Tent & Tarp, 2424 E 5th Ave, Anchorage,...",0x56c897916ab9b4d9:0x334e07a949ef65fc,NaN,61.217106,-149.835767,"['fabric product manufacturer', 'aircraft supp...",4.4,18,NaN,"[['Monday', '8:30AM–5:30PM'], ['Tuesday', '8:3...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8:30AM,"['0x56c897db88baae1f:0x45abf88c4d62a916', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
3,Valley Dollar Plus & MORE!,"Valley Dollar Plus & MORE!, 481 W Parks Hwy, W...",0x56c8df0f2cbd1b53:0x53d601e0489e104,NaN,61.582763,-149.461998,"['dollar store', 'convenience store', 'grocery...",3.9,26,NaN,"[['Sunday', '11AM–5PM'], ['Monday', '10AM–7PM'...",{'From the business': ['Identifies as veteran-...,Closed ⋅ Opens 10AM Mon,"['0x56c8984829b7a761:0x1bccd85b80a4a2bc', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
4,Sourdough Transfer,"Sourdough Transfer, 600 Driveway St, Fairbanks...",0x51324539aa87c7f1:0x75196ecfedd91c3f,NaN,64.851457,-147.725530,"['mover', 'moving and storage service', 'movin...",4.5,28,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8AM Mon,"['0x5132453a013fb1f3:0x1c66f7bcc441028b', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
5,Sourdough Transfer,"Sourdough Transfer, 299 W 64th Ave, Anchorage,...",0x56c89786087eb2b5:0xaa26d5f2a0dcfac6,NaN,61.162996,-149.885888,"['mover', 'moving and storage service', 'movin...",4.2,18,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",NaN,Closed ⋅ Opens 8AM Mon,"['0x56c897d2e3117e3d:0x2d77c9f7c8b90a70', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341207,Walmart Supercenter,"Walmart Supercenter, 2200 17th St, Spirit Lake...",0x878cb43f39734807:0x7c20fd817a06680a,NaN,43.424338,-95.124478,"['department store', 'clothing store', 'craft ...",3.7,1152,$,"[['Saturday', '7AM–11PM'], ['Sunday', '7AM–11P...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x878cb45b61c0421b:0x63cece1607b24165', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341208,Foundation Building Materials,"Foundation Building Materials, 4401 112th St, ...",0x87ec27087c545371:0x3a5ffd1d59176776,NaN,41.641094,-93.768668,"['building materials market', 'construction ma...",4.5,18,NaN,"[['Friday', '7AM–4:30AM'], ['Saturday', 'Close...",{'Service options': ['In-store shopping']},NaN,"['0x87ec27087b63f6cb:0xab45fb285f06de23', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341209,Southern Iowa Oil,"Southern Iowa Oil, 2130 Court Ave, Chariton, I...",0x87e93bc31d68794f:0xe099b19a245c0f19,NaN,41.014260,-93.327017,"['gas station', 'convenience store']",3.6,15,NaN,NaN,NaN,NaN,"['0x87e93ac50fb43091:0x5daba4ef211a0a0', '0x87...",https://www.google.com/maps/place//data=!4m2!3...
341210,Flying J Travel Center,"Flying J Travel Center, 8200 Northwest Blvd, D...",0x87e3b56180231c17:0x7135d41221033ab8,NaN,41.602914,-90.624855,"['truck stop', 'convenience store', 'gas stati...",3.9,933,NaN,"[['Thursday', 'Open 24 hours'], ['Friday', 'Op...","{'Service options': ['In-store shopping', 'Del...",NaN,"['0x87e3b561451f0d83:0x2fbc08d29b5ead3b', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341211,Theisen's,"Theisen's, 403 E Oskaloosa St, Pella, IA 50219",0x87ef307cf7f381df:0x8786dc8056756e84,"Retailer stocking a wide range of home, farm &...",41.395948,-92.901603,"['department store', 'auto parts store', 'clot...",4.3,467,NaN,"[['Thursday', '8AM–8PM'], ['Friday', '8AM–8PM'...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x87ef3aac5bf421e9:0xb30642d12e24fb32', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [4]:
# Keep only useful columns for df_states
columns_to_keep_states = ['gmap_id', 'latitude', 'longitude']
df_states = df_states[columns_to_keep_states]
df_states

                                      gmap_id   latitude   longitude
0       0x56c12d9331100c9b:0x1928f20e7115f388  59.637164 -151.516859
2       0x56c897916ab9b4d9:0x334e07a949ef65fc  61.217106 -149.835767
3        0x56c8df0f2cbd1b53:0x53d601e0489e104  61.582763 -149.461998
4       0x51324539aa87c7f1:0x75196ecfedd91c3f  64.851457 -147.725530
5       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6  61.162996 -149.885888
...                                       ...        ...         ...
341207  0x878cb43f39734807:0x7c20fd817a06680a  43.424338  -95.124478
341208  0x87ec27087c545371:0x3a5ffd1d59176776  41.641094  -93.768668
341209  0x87e93bc31d68794f:0xe099b19a245c0f19  41.014260  -93.327017
341210  0x87e3b56180231c17:0x7135d41221033ab8  41.602914  -90.624855
341211  0x87ef307cf7f381df:0x8786dc8056756e84  41.395948  -92.901603

[339899 rows x 3 columns]

In [5]:
# Load the shapefile for states
states_gdf = gpd.read_file("./state shapefile/cb_2018_us_state_5m.shp")

# Ensure the CRS of states_gdf is EPSG:4326 for consistency
states_gdf = states_gdf.to_crs(epsg=4326)

# Convert df_states to a Geo-df by creating a geometry column from latitude and longitude
df_states = df_states.copy()  # Make a copy to avoid modifying the original df
df_states['geometry'] = df_states.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
df_states_gdf = gpd.GeoDataFrame(df_states, geometry='geometry', crs="EPSG:4326")

# Ensure consistent data types for merging
df_states_gdf['gmap_id'] = df_states_gdf['gmap_id'].astype(str)

# Perform spatial intersection using overlay
df_states_with_state = gpd.overlay(df_states_gdf, states_gdf, how='intersection')

# Assign state names and keep only the relevant columns
df_states_with_state['state'] = df_states_with_state['NAME']
df_states = df_states_with_state[['gmap_id', 'latitude', 'longitude', 'state']]

# Final output
df_states

                                      gmap_id   latitude   longitude     state
0       0x56c12d9331100c9b:0x1928f20e7115f388  59.637164 -151.516859    Alaska
1       0x56c897916ab9b4d9:0x334e07a949ef65fc  61.217106 -149.835767    Alaska
2        0x56c8df0f2cbd1b53:0x53d601e0489e104  61.582763 -149.461998    Alaska
3       0x51324539aa87c7f1:0x75196ecfedd91c3f  64.851457 -147.725530    Alaska
4       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6  61.162996 -149.885888    Alaska
...                                       ...        ...         ...       ...
339312   0x876c7f11b01f5fd3:0xc518fddc4300ac6  39.708073 -105.001341  Colorado
339313    0x876b890bc6933989:0xe6c93557f67b5d  39.861521 -105.080365  Colorado
339314  0x876ea112917cfa13:0xb823d5fc5b53ee02  40.394325 -104.718313  Colorado
339315  0x876c7f4ff031b1a7:0xd63c647c233a610b  39.724640 -105.019903  Colorado
339316   0x876c7c2a116bb8b1:0xf643ffcda102fb4  39.708523 -104.937060  Colorado

[339317 rows x 4 columns]

In [6]:
# Load the shapefile for counties
county_gdf = gpd.read_file('./county shapefile/tl_2023_us_county.shp')

# Ensure the CRS of county_gdf is EPSG:4326 for consistency
county_gdf = county_gdf.to_crs(epsg=4326)

# Convert df_merged to a Geo-df by creating a geometry column from latitude and longitude
df_states = df_states.copy()  # Ensure we are working on a copy of the df
df_states.loc[:, 'geometry'] = df_states.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
df_merged_gdf = gpd.GeoDataFrame(df_states, geometry='geometry', crs="EPSG:4326")

# Perform spatial join between df_merged and the county shapefile using predicate="within"
df_merged_with_county = gpd.sjoin(df_merged_gdf, county_gdf, how="left", predicate="within")

# Add the county column
df_merged_with_county['county'] = df_merged_with_county['NAME']

# Drop the geometry column for final output
df_merged_with_county.drop(columns='geometry', inplace=True)

# Keep only the useful columns
columns_to_keep_county = ['gmap_id', 'county', 'state']
df_county = df_merged_with_county[columns_to_keep_county]

df_county

                                      gmap_id                county     state
0       0x56c12d9331100c9b:0x1928f20e7115f388       Kenai Peninsula    Alaska
1       0x56c897916ab9b4d9:0x334e07a949ef65fc             Anchorage    Alaska
2        0x56c8df0f2cbd1b53:0x53d601e0489e104     Matanuska-Susitna    Alaska
3       0x51324539aa87c7f1:0x75196ecfedd91c3f  Fairbanks North Star    Alaska
4       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6             Anchorage    Alaska
...                                       ...                   ...       ...
339312   0x876c7f11b01f5fd3:0xc518fddc4300ac6                Denver  Colorado
339313    0x876b890bc6933989:0xe6c93557f67b5d             Jefferson  Colorado
339314  0x876ea112917cfa13:0xb823d5fc5b53ee02                  Weld  Colorado
339315  0x876c7f4ff031b1a7:0xd63c647c233a610b                Denver  Colorado
339316   0x876c7c2a116bb8b1:0xf643ffcda102fb4              Arapahoe  Colorado

[339317 rows x 3 columns]

In [7]:
# Load the review (health resource-related) data
df_review = pd.read_csv('./classed_review_2018.csv')
df_review

,user_id,name,time,rating,text,pics,resp,gmap_id,keywords_mentioned,mentioned_keywords,class
0,1.171145e+20,Laura Gilinsky,2021-08-18 17:18:32.860,5.0,Elena kindly talked me through the custom opti...,NaN,NaN,0x8793f3c9c4a6066d:0x5636690d1815fa0b,True,['mask'],9
1,1.121227e+20,Patty Damme,2018-01-05 16:51:25.395,4.0,"It's quick in and out usually, the sell alcoho...",NaN,NaN,0x8796681daaba37f1:0x45d0ffe31b28ae63,True,['alcohol'],1
2,1.021695e+20,Megan Lynn,2021-05-27 03:20:33.316,1.0,Still forcing masks after the mandate has ended,NaN,NaN,0x87938b9da361a3d9:0x577157078adb3359,True,['mask'],9
3,1.151289e+20,Susan “SuzyQsLion” Woolery,2018-02-24 04:27:23.868,5.0,"Carries cold drinks, fountain drinks, coffee, ...",NaN,NaN,0x8776e8324b8c3ecf:0xdb935c6665556259,True,['alcohol'],1
4,1.142903e+20,Courtney Scholl,2021-08-28 14:37:46.157,2.0,Update 8/27: We have a new mask mandate in Li...,NaN,"{'time': 1617157609725, 'text': 'Update: As wr...",0x8796960819abf859:0x6e4e236c8ff7317f,True,['mask'],9
...,...,...,...,...,...,...,...,...,...,...,...
290113,1.021095e+20,sarah ponton,2020-07-15 15:12:38.739,2.0,Employees not masked,NaN,NaN,0x89b36e6878ffd87f:0xad352c8e87e59213,True,['mask'],9
290114,1.079780e+20,Andrea Go,2020-12-19 03:22:53.860,5.0,Very clean and everyone was wearing masks,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1608407500114, 'text': ""Hi Andrea, we...",0x89b5efbfdf45c881:0x37d76a3f96510495,True,['mask'],9
290115,1.075649e+20,Amber Wassam,2020-07-26 14:33:18.317,1.0,I’m not allowed to buy groceries unless I wear...,NaN,NaN,0x89b5efbfdf45c881:0x37d76a3f96510495,True,['mask'],9
290116,1.022147e+20,Tawny Bottiger,2020-08-29 16:01:09.722,4.0,but people not wearing mask,NaN,NaN,0x89b5efbfdf45c881:0x37d76a3f96510495,True,['mask'],9
290117,1.025850e+20,Chris Whitfield,2019-11-13 00:12:02.742,5.0,10/10 would sit at a table by myself and write...,NaN,NaN,0x89b63c1bab30660f:0x65081492263b5eed,True,['gloves'],9

In [8]:
# Keeping only the specified columns
columns_review = ['gmap_id', 'text', 'time', 'class']
df_review = df_review[columns_review]
df_review

,gmap_id,text,time,class
0,0x8793f3c9c4a6066d:0x5636690d1815fa0b,Elena kindly talked me through the custom opti...,2021-08-18 17:18:32.860,9
1,0x8796681daaba37f1:0x45d0ffe31b28ae63,"It's quick in and out usually, the sell alcoho...",2018-01-05 16:51:25.395,1
2,0x87938b9da361a3d9:0x577157078adb3359,Still forcing masks after the mandate has ended,2021-05-27 03:20:33.316,9
3,0x8776e8324b8c3ecf:0xdb935c6665556259,"Carries cold drinks, fountain drinks, coffee, ...",2018-02-24 04:27:23.868,1
4,0x8796960819abf859:0x6e4e236c8ff7317f,Update 8/27: We have a new mask mandate in Li...,2021-08-28 14:37:46.157,9
...,...,...,...,...
290113,0x89b36e6878ffd87f:0xad352c8e87e59213,Employees not masked,2020-07-15 15:12:38.739,9
290114,0x89b5efbfdf45c881:0x37d76a3f96510495,Very clean and everyone was wearing masks,2020-12-19 03:22:53.860,9
290115,0x89b5efbfdf45c881:0x37d76a3f96510495,I’m not allowed to buy groceries unless I wear...,2020-07-26 14:33:18.317,9
290116,0x89b5efbfdf45c881:0x37d76a3f96510495,but people not wearing mask,2020-08-29 16:01:09.722,9
290117,0x89b63c1bab30660f:0x65081492263b5eed,10/10 would sit at a table by myself and write...,2019-11-13 00:12:02.742,9

In [9]:
# Dropping duplicate rows from df_reviews
df_review = df_review.drop_duplicates()
df_review

,gmap_id,text,time,class
0,0x8793f3c9c4a6066d:0x5636690d1815fa0b,Elena kindly talked me through the custom opti...,2021-08-18 17:18:32.860,9
1,0x8796681daaba37f1:0x45d0ffe31b28ae63,"It's quick in and out usually, the sell alcoho...",2018-01-05 16:51:25.395,1
2,0x87938b9da361a3d9:0x577157078adb3359,Still forcing masks after the mandate has ended,2021-05-27 03:20:33.316,9
3,0x8776e8324b8c3ecf:0xdb935c6665556259,"Carries cold drinks, fountain drinks, coffee, ...",2018-02-24 04:27:23.868,1
4,0x8796960819abf859:0x6e4e236c8ff7317f,Update 8/27: We have a new mask mandate in Li...,2021-08-28 14:37:46.157,9
...,...,...,...,...
290113,0x89b36e6878ffd87f:0xad352c8e87e59213,Employees not masked,2020-07-15 15:12:38.739,9
290114,0x89b5efbfdf45c881:0x37d76a3f96510495,Very clean and everyone was wearing masks,2020-12-19 03:22:53.860,9
290115,0x89b5efbfdf45c881:0x37d76a3f96510495,I’m not allowed to buy groceries unless I wear...,2020-07-26 14:33:18.317,9
290116,0x89b5efbfdf45c881:0x37d76a3f96510495,but people not wearing mask,2020-08-29 16:01:09.722,9
290117,0x89b63c1bab30660f:0x65081492263b5eed,10/10 would sit at a table by myself and write...,2019-11-13 00:12:02.742,9

In [10]:
# Merge both dfs based on 'gmap_id' column
df_merged = pd.merge(df_county, df_review, on='gmap_id', how='inner')
df_merged

,gmap_id,county,state,text,time,class
0,0x51324539aa87c7f1:0x75196ecfedd91c3f,Fairbanks North Star,Alaska,No one was wearing masks and everyone was on t...,2020-11-12 22:10:18.770,9
1,0x56c7b672b51a2b31:0x4f0e143cc4dd950c,Kenai Peninsula,Alaska,"Friendly staff, great selection of items and t...",2021-05-21 19:39:33.222,1
2,0x56c897a7c3f17fd3:0x34b32ebc391344dd,Anchorage,Alaska,Lake Otis Pharmacy has really shined since the...,2020-04-29 22:34:43.845,-1
3,0x56c65d36d12e1d61:0x21fb4a346d19cf9f,Kenai Peninsula,Alaska,Went here today to get some Childrens Ibuprofe...,2018-07-13 00:22:40.598,-1
4,0x513245425df672cf:0x766fc682ee2f506a,Fairbanks North Star,Alaska,They need to make up their mind on the mask rules,2021-05-22 00:49:20.969,9
...,...,...,...,...,...,...
289914,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,I went there today and saw 3 different employe...,2020-05-11 21:06:07.550,9
289915,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,They stopped limiting the number of people all...,2020-09-15 21:32:22.057,9
289916,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,Workers wearing masks,2020-06-04 17:22:35.856,9
289917,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,It is so beyond frustrating trying to find thi...,2019-06-29 19:32:05.895,-1
289918,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,"Shelves are not stocked with groceries, clothi...",2018-10-23 20:39:50.201,-1

In [11]:
# Convert the time column to datetime format
df_merged['time'] = pd.to_datetime(df_merged['time'])

# Define the time periods based on events
periods = {
    'Pre-COVID': ('2018-01-01', '2020-01-31'),
    'During-COVID': ('2020-02-01', '2020-05-31'),
    'Post-COVID': ('2020-06-01', '2021-05-31')
}

# Function to calculate the review count and average sentiment for each period
def calculate_sentiment(df, start_date, end_date):
    period_df = df[(df['time'] >= start_date) & (df['time'] <= end_date)]
    grouped_df = period_df.groupby(['county', 'state']).agg(
        review_count=('gmap_id', 'size'),  # count the number of reviews
        total_sentiment=('class', lambda x: (x == 1).sum() - (x == -1).sum())  # calculate the total sentiment
    ).reset_index()
    grouped_df['average_sentiment'] = grouped_df['total_sentiment'] / grouped_df['review_count']
    return grouped_df

# Create empty df to store the combined results
result_df = df_merged[['county', 'state']].drop_duplicates().copy()

# Loop through periods and add the review count and average sentiment for each period
for period, (start, end) in periods.items():
    period_data = calculate_sentiment(df_merged, start, end)
    period_data.columns = ['county', 'state', f'{period}_review_count', f'{period}_total_sentiment', f'{period}_average_sentiment']
    result_df = pd.merge(result_df, period_data[['county', 'state', f'{period}_review_count', f'{period}_average_sentiment']], on=['county', 'state'], how='left')

# Display the final df
result_df

,county,state,Pre-COVID_review_count,Pre-COVID_average_sentiment,During-COVID_review_count,During-COVID_average_sentiment,Post-COVID_review_count,Post-COVID_average_sentiment
0,Fairbanks North Star,Alaska,4.0,0.250000,7.0,0.000000,42.0,0.000000
1,Kenai Peninsula,Alaska,11.0,-0.272727,4.0,-0.750000,51.0,-0.039216
2,Anchorage,Alaska,39.0,0.179487,23.0,-0.347826,134.0,-0.022388
3,Ketchikan Gateway,Alaska,3.0,0.000000,NaN,NaN,3.0,-0.333333
4,Matanuska-Susitna,Alaska,4.0,0.000000,4.0,-0.250000,56.0,-0.125000
...,...,...,...,...,...,...,...,...
2858,Rio Blanco,Colorado,NaN,NaN,NaN,NaN,1.0,0.000000
2859,Kiowa,Colorado,NaN,NaN,1.0,1.000000,1.0,0.000000
2860,Cheyenne,Colorado,NaN,NaN,NaN,NaN,1.0,0.000000
2861,Custer,Colorado,NaN,NaN,NaN,NaN,1.0,0.000000
2862,Sedgwick,Colorado,NaN,NaN,NaN,NaN,1.0,0.000000

In [12]:
result_df.describe()

,Pre-COVID_review_count,Pre-COVID_average_sentiment,During-COVID_review_count,During-COVID_average_sentiment,Post-COVID_review_count,Post-COVID_average_sentiment
count,2260.000000,2260.000000,1982.000000,1982.000000,2781.000000,2781.000000
mean,22.737168,-0.090736,15.780020,-0.207996,73.830277,-0.044295
std,64.305490,0.544197,40.332541,0.461687,192.571911,0.188151
min,1.000000,-1.000000,1.000000,-1.000000,1.000000,-1.000000
25%,2.000000,-0.400000,2.000000,-0.500000,5.000000,-0.090000
50%,5.000000,-0.001792,4.000000,-0.166667,19.000000,-0.021739
75%,17.000000,0.179200,12.000000,0.000000,60.000000,0.000000
max,1324.000000,1.000000,729.000000,1.000000,4230.000000,1.000000

In [13]:
# Filtering rows where all three review count have values greater than 10
filtered_result_df_10 = result_df[
    (result_df['Pre-COVID_review_count'] > 10) &
    (result_df['During-COVID_review_count'] > 10) &
    (result_df['Post-COVID_review_count'] > 10)
]

filtered_result_df_10

,county,state,Pre-COVID_review_count,Pre-COVID_average_sentiment,During-COVID_review_count,During-COVID_average_sentiment,Post-COVID_review_count,Post-COVID_average_sentiment
2,Anchorage,Alaska,39.0,0.179487,23.0,-0.347826,134.0,-0.022388
17,Clark,Nevada,521.0,-0.032630,271.0,-0.243542,1420.0,-0.040141
18,Washoe,Nevada,95.0,-0.021053,81.0,-0.123457,324.0,-0.046296
37,Yellowstone,Montana,22.0,0.181818,11.0,-0.181818,154.0,-0.077922
72,Johnson,Kansas,121.0,0.049587,115.0,-0.121739,526.0,-0.066540
...,...,...,...,...,...,...,...,...
2816,Arapahoe,Colorado,125.0,-0.024000,130.0,-0.169231,521.0,-0.055662
2817,El Paso,Colorado,143.0,-0.132867,131.0,-0.129771,706.0,-0.022663
2819,Mesa,Colorado,25.0,0.080000,13.0,-0.230769,195.0,-0.041026
2821,Larimer,Colorado,84.0,-0.023810,61.0,-0.032787,382.0,0.002618
2828,Broomfield,Colorado,11.0,0.000000,12.0,-0.166667,75.0,-0.093333

In [14]:
filtered_result_df_10.describe()

,Pre-COVID_review_count,Pre-COVID_average_sentiment,During-COVID_review_count,During-COVID_average_sentiment,Post-COVID_review_count,Post-COVID_average_sentiment
count,530.000000,530.000000,530.000000,530.000000,530.000000,530.000000
mean,79.507547,-0.011802,49.411321,-0.170908,296.962264,-0.032587
std,115.461894,0.184769,67.237979,0.134645,361.516961,0.040075
min,11.000000,-0.681818,11.000000,-0.687500,37.000000,-0.205128
25%,25.000000,-0.130435,17.000000,-0.250000,117.000000,-0.053548
50%,44.000000,-0.006847,28.000000,-0.160645,190.500000,-0.032538
75%,89.000000,0.109445,53.000000,-0.087369,315.500000,-0.010993
max,1324.000000,0.541667,729.000000,0.250000,4230.000000,0.128889

In [15]:
# Save the dataframe 'filtered_county' as a CSV file

file_path = './county_sentiment.csv'
filtered_result_df_10.to_csv(file_path, index=False)

file_path

'./county_sentiment.csv'